.show {
    border: solid yellow 1px;
    color: white;
}

.map-container {
    height: 20em;
}

.result-container {
    max-height: 30em;
    overflow-y: hidden;
}

#map {
    height: 100%;
}

.card-img-top {
    content: url("https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=");
    display: block;
    max-height: inherit;
    max-width: 20em;
}

.card-body > * {
    color: black;
}