@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');



body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Anek Telugu', sans-serif;
    background-color: rgb(255, 255, 255);

    
   
}  
body.log {
  background-image: url(background.jpg);
 }
.login{  
    justify-content: center;
        width: 30%;  
        overflow: hidden;  
        margin: auto;  
        padding: 50px;  
        background: #ffffff; 
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
       
    
          
}  
h1{  
    text-align: center;  
    color: black;  
    padding: 70px;  
    font-size: 50px; 
}  

h3{  
    text-align: center;  
    color: black;  
    padding: 50px;  
    font-size: 40px; 
}  
label{  
    color: black;  
        font-size: 17px;
    }
    
label2{  
        color: #fff3e8;  
        font-size: 15px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  

/*
span{  
    color: black; 
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  
#nav_bar {
    float: right;
  }

  header {
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  /* NAV BAR */
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  
  #nav_bar #sign_in {
    background: #0f5475; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
  }
  
/* .nav-lin?*ks {
    color: #404040;
  }*/
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  
  #sign_in {
    color: #fff;
  }
  
  .form {
    text-align: center;
  }
  
  #form-search { 
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  
  .form #form-search {
    width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  
  #form-search:hover {
    border-color: #e4e4e4;
    padding-top: 0;
  }
  
  /*.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
  }
  
  */ 
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color:#a8cd8f;
    border-radius: 10px;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  /* FOOTER */
  footer  {
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
  /*   position: fixed; */
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    
  }
  
  footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 13px;
  }
  
  footer ul {
    float: left;
    padding: 1px;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    float: right;
  }
  
  /* MEDIA QUERIES */
  
  @media screen and (max-width: 400px) {
   
   li.nav-links a {
      display: none;
    }
    
  
   .buttons {
     display: none;
   }
    
   #form-search {
     width: 80%;
  
   }
    
   footer {
     bottom: 0;
   }
    
   footer ul {
     float: none;
     padding-bottom: 2px;
      
   }
    
   .footer-left {
     text-align: center;
     margin: auto; 
     padding-top: 10px;
      
   }
    
   .footer-right {
     float: none;
     text-align: center;
     
   }
  }
  
  @media screen and (max-width: 565px) {
   
    li.nav-links a {
      display: none;
    }
    
    
   .buttons {
     display: none;
   }
    
   #form-search {
     width: 80%;
  
   }
    
  
  }